# Configuración básica para npm

# Establece el registro predeterminado
registry=https://registry.npmjs.org/

# Configura el almacenamiento en caché
cache=~/.npm-cache

# Configura el prefijo global (opcional)
prefix=~/.npm-global

# Configura el nivel de registro (opcional)
loglevel=warn